<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 card-form">

      <%= content_tag :h1, header %>

      <%= simple_form_for @card, defaults: { required: false },
        html: { class: "form-horizontal" } do |f| %>

        <%= f.error_notification message: "Пожалуйста, устраните следующие ошибки:" %>

        <%= f.input :original_text, label: "Оригинал" %>

        <%= f.input :translated_text, label: "Перевод" %>

        <% if @card.persisted? %>
          <%= f.input :review_date, label: "Дата пересмотра", icon: "glyphicon glyphicon-calendar" %>
        <% end %>

        <%= render "buttons", f: f %>

      <% end %>

    </div>
  </div>
</div>
