<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1 class="card-form">Флеш-карточка</h1>

      <%= simple_form_for @card, defaults: { required: false, as: :display },
        html: { class: "form-horizontal" },
        wrapper: :horizontal_form_static do |f| %>

        <%= f.input :original_text, label: "Оригинал" %>

        <%= f.input :translated_text, label: "Перевод" %>

        <%= f.input :review_date, label: "Дата пересмотра" %>

        <%= render "buttons", f: f %>

      <% end %>

    </div>
  </div>
</div>
